html {
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.controls {
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}
